.App {
  text-align: center;
}

body{
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  line-height: 1.5;  
  font-size: 18px;
  color: #212529;
}

.quizAnswer{
  background-color: #F7F7F7;
  margin: 3vh;
  padding: 3vh;
  transition: 0.2s;
}

.checkedAnswer{
  background-color: #F79332;
  transition: 0.2s;
}

.nextQuestionBtn{
  background-color: #F7F7F7;
  margin: 3vh 3vh 0;
  padding: 3vh;
}