.App {
  margin: auto;
  text-align: center;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.89);
  border-radius: 50px;
  padding: 20px;
  margin-top: 20px;

}

body{
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  line-height: 1.5;  
  font-size: 18px;
  color: #212529;
  background-color: #F79332;
}

.quizAnswer{
  border: 2px solid #7c7c7c;
  border-radius: 20px;
  margin: 3vh;
  padding: 3vh;
  transition: 0.2s;
  text-align: left;
}

.checkedAnswer{
  background-color: #F79332;
  transition: 0.2s;
}

.nextQuestionBtn{
  background-color: #F7F7F7;
  margin: 3vh 3vh 0;
  padding: 3vh;
}